<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{num}}</p> <!--v-bind:id="uuid"는 id="abc1234"와 같은 의미-->
        <p>{{doubleNum}}</p>    <!--v-bind:A="B"는 A에 B가 가진 값이 연결된다.라는 의미-->
        
        <div v-if="loading"> <!--조건에 따라 특정 테그의 내용을 보여줄 수도 안보여줄 수도 있는 v-if-->
            loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading"> <!--v-if는 조건에 따라서 아예 DOM에서 사라지지만-->
            loading            <!--v-show는 DOM에는 남아있고 display: none으로만 바뀐다!!-->
        </div>
        <!--TODO: 인풋 박스를 만들고 입력된 값을 p태그에 출력해보세요 <- vue.js org에서 문법을 찾아서 해결-->
        <p> Message is: {{ message }}</p>
        <input v-model="message" placeholder="edit me" />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">//vue.js를 가져오는 script</script> 
    <script>
        new Vue({
            el: '#app',
            data:{
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            computed:{ //A값에 따ꀀ B값이 변하는 방식을 정의
                doubleNum: function(){
                    return this.num * 2
                }
            }
        })
    </script>
</body>
</html>